@font-face {
  font-family: 'Reddit Mono';
  src: url('fonts/RedditMono[wght].woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #b0b0b0;
  color: #3a3a3a;
  background: #F5F5F5;
}

input, button {
  box-sizing: border-box;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}

input {
  padding: 5px 8px;
}

div.hline {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid #b0b0b0;
}

#bit-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  margin: 0 auto;
  padding: 4px;
  width: fit-content;
  max-width: 90vw;
  overflow-x: auto;
}

.byte {
  padding: 0 4px;
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
}

.bit-cell {
  padding: 0;
  margin: 5px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  user-select: none;
}

.bit-index {
  font-family: 'Reddit Mono', monospace;
  font-size: 0.5rem;
  text-align: center;
  color: #707070;
  padding: 0;
  margin: 0;
  user-select: none;
}

.bit-field {
  width: 28px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e0e0e0;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  font-family: 'Reddit Mono', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.bit-field.part {
  background-color: #ffbbbb;
}

.bit-field:hover {
  filter: brightness(90%);
}

.bit-field:focus {
  filter: brightness(80%);
}

.bit-field.empty {
  background-color: #f0f0f0;
  cursor: not-allowed;
  filter: none;
}

.input-group {
  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-group label {
  font-size: 1rem;
  white-space: nowrap;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-wrapper input {
  flex: 1 1 0;
  height: 1.8rem;
  font-family: 'Reddit Mono', monospace;
  font-size: 1rem;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.buttons button {
  width: 1.8rem;
  height: 1.8rem;
  font-family: 'Reddit Mono', monospace;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons button:hover {
  background: #e0e0e0;
}

@media (max-width: 640px) {
  .input-group {
    grid-template-columns: 1fr;
    align-items: start;
    gap: 0.1rem;
  }

  .input-group label {
    font-size: 0.9rem;
  }

  .input-wrapper {
    width: 100%;
  }
}

