@font-face {
  font-family: 'Reddit Mono';
  src: url('fonts/RedditMono[wght].woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  background-color: #f8fafc;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

header,
footer {
  width: 100%;
  background-color: #d9e8ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

svg.logo {
  height: 1.5rem;
  width: 1.5rem;
}

svg.logo path {
  fill: #082c8f
}

.site-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #082c8f;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100%;
  max-width: 56rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}

input {
  padding: 5px 8px;
}

div.hline {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid #b0b0b0;
}

.bit-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

.byte {
  display: flex;
  gap: 2px;
}

.bit-cell {
  margin-block: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.bit-index {
  font-family: 'Reddit Mono', monospace;
  font-size: 0.5rem;
  color: #707070;
  user-select: none;
}

.bit-field {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e0e0e0;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  font-family: 'Reddit Mono', monospace;
  font-weight: 600;
  font-size: 1.125rem;
}

/* .bit-field {
  position: relative;
  margin-top: 20px;
  flex-direction: column;
}
.bit-field::before {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  line-height: 1;
}
.bit-field::before {
  content: attr(data-index);
  font-family: 'Reddit Mono', monospace;
  font-weight: 400;
  font-size: 0.5rem;
  text-align: center;
  color: #707070;
} */

.bit-field.part {
  background-color: #ffbbbb;
}

.bit-field:hover {
  filter: brightness(90%);
}

.bit-field:focus {
  filter: brightness(80%);
}

.bit-field.empty {
  background-color: #f0f0f0;
  cursor: not-allowed;
  filter: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;
  gap: 0.5rem;
}

.input-group label {
  font-size: 1rem;
  white-space: nowrap;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-wrapper input {
  flex: 1 1 0;
  height: 1.75rem;
  font-family: 'Reddit Mono', monospace;
  font-size: 1rem;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.buttons button {
  width: 1.75rem;
  height: 1.75rem;
  font-family: 'Reddit Mono', monospace;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 640px) {
  .input-group {
    grid-template-columns: 1fr;
    align-items: start;
    gap: 0.125rem;
  }

  .input-group label {
    font-size: 0.875rem;
  }

  .input-wrapper {
    width: 100%;
  }
}